<h4><%= link_to "My Profile", user_path(session[:id])%></h4> 
<h4><%= link_to "See all breeds", breeds_path%></h4>
<br>

<%@dogs.each do |dog|%>

    <h3>Owner: <%=dog.user.username%></h3>
    <h4>Qualification: <%=dog.user.qualification%></h4>
    <li>Name:  <%= dog.name %></li>
    <li>Age: <%= dog.age %></li>
    <li>Description: <%= dog.description%></li>
    <li>Breed: <%= dog.breed.name %></li>
<% end %>