<h4><%= link_to "My Profile", user_path(session[:id])%></h4> 
<h4><%= link_to "See all breeds", breeds_path%></h4>
<br>
<h5><%= link_to "See only qualified owners", qual_index_path(@breed)%></h5>

<br>

<%= render :collection => @dogs, :partial => 'dogs/dog_index', :as => :dog %>

<br>

<%= link_to 'Logout', logout_path%>