<h4><%= link_to "My Profile", user_path(session[:id])%></h4> 
<h4><%= link_to "See all breeds", breeds_path%></h4>
<br>

<%@dogs.each do |dog|%>
    
    <li>Name:  <%= dog.name %>
    <p>Age:
     <%= dog.age %></p>
    <p>Description:</p>
    <%= dog.description%>
    <p>Breed:
    <%= dog.breed.name %></p>
<% end %>