<h4><%= link_to "My Profile", user_path(session[:id])%></h4> 
<h4><%= link_to "See all breeds", breeds_path%></h4>
<br>

<h2> <%=@breed.name%></h2>
    
    <h4>Height:</h4>
        <p> Female: <%= @breed.female_height_min %> - <%= @breed.female_height_max %> inches</p>
        <p> Male: <%= @breed.male_height_min %> - <%= @breed.male_height_max %> inches </p>
    <h4> Weight:</h4>
    <p> Female: <%= @breed.female_weight_min %> - <%= @breed.female_weight_max %> lbs</p>
    <p>Male: <%= @breed.male_weight_min %> - <%= @breed.male_weight_max %>lbs</p>
    <h4> Breed Description: </h4>
    <%= @breed.description%>
    <br>

    <%=link_to "See all #{@breed.name}'s ", breed_dogs_path(@breed)%>
    <br>
    <%=link_to "Edit", edit_breed_path(@breed)%>




    