<li>Name:  <%= dog.name %>
    <p>Age:
     <%= dog.age %></p>
    <p>Description:</p>
    <%= dog.description%>
    <p>Breed:
    <%= dog.breed.name %></p>
    </li>
    <p><%=link_to "Edit", edit_dog_path(dog)%></p>