<h1> Welcome to <%= @user.username%>'s profile page</h1>


<h2><%= @user.username%>'s qualification: <%=@user.qualification%></h2>

<%= link_to "Edit info", edit_user_path(@user) %>
<br>

<h2><%= @user.username%>'s Dogs: </h2>
<br>
<%= link_to "Add New Dog", new_user_dog_path(@user)%>
<ul>
<%@user.dogs.each do |dog|%>
    
    <li>Name:  <%= dog.name %>
    <p>Age:
     <%= dog.age %></p>
    <p>Description:</p>
    <%= dog.description%>
    <p>Breed:
    <%= dog.breed.name %></p>
    </li>
<p><%=link_to "Edit", edit_dog_path(dog)%></p>
<br>
<br>
<% end %>
</ul>
<br>


<%= link_to 'Logout', logout_path%>